In [1]:
a=1
print("the value of",a,"is of the type",type(a))
b="hello"
print("the value of",b,"is of the type",type(b))
c=3.14
print("the value of",c,"is of the type",type(c))
d=2j
print("the value of",d,"is of the type",type(d))
e={"ads","web","python"}
print("the value of",e,"is of the type",type(e))
f=("ads","web","python")
print("the value of",f,"is of the type",type(f))
g=["ads","web","python"]
print("the value of",g,"is of the type",type(g))
h=range(5)
print("the value of",h,"is of the type",type(h))
i=True
print("the value of",i,"is of the type",type(i))

the value of 1 is of the type <class 'int'>
the value of hello is of the type <class 'str'>
the value of 3.14 is of the type <class 'float'>
the value of 2j is of the type <class 'complex'>
the value of {'ads', 'python', 'web'} is of the type <class 'set'>
the value of ('ads', 'web', 'python') is of the type <class 'tuple'>
the value of ['ads', 'web', 'python'] is of the type <class 'list'>
the value of range(0, 5) is of the type <class 'range'>
the value of True is of the type <class 'bool'>

In [2]:
print("Hello, World !")

Hello, World !

In [3]:
x=int(input("enter a integer value :"))
print(x)

enter a integer value :4
4

In [5]:
x=int(input("enter the value of first integer :"))
y=int(input("enter the value of second integer :"))
z=x+y
print("sum is:",z)

enter the value of first integer :4
enter the value of second integer :6
sum is: 10

In [6]:
x=float(input("enter the first float value :"))
y=float(input("enter the second float value :"))
z=x*y
print("product :",z)

enter the first float value :4.5
enter the second float value :6.5
product : 29.25

In [7]:
a=int(input("enter the first value :"))
b=int(input("enter the second value :"))
q=a//b
print("quotient :",q)
r=a%b
print("remainder :",r)

enter the first value :4
enter the second value :6
quotient : 0
remainder : 4

In [8]:
x=float(input("enter the first number :"))
y=float(input("enter the second number :"))
print("value of the first number before swapping :",x)
print("value of the second number before swapping :",y)
z=x
x=y
y=z
print("value of the first number after swapping :",x)
print("value of the second number after swapping :",y)

enter the first number :4
enter the second number :6
value of the first number before swapping : 4.0
value of the second number before swapping : 6.0
value of the first number after swapping : 6.0
value of the second number after swapping : 4.0

In [9]:

x=int(input("enter any number :"))
y = x%2
if y==0:
  print(x,"is an even number.")
else:
    print(x,"is an odd number.")

enter any number :4
4 is an even number.

In [10]:
ch=input("enter any character :")
if (ch=='A'or ch=='E' or ch=='I' or ch=='O' or ch=='U'or ch=='a' or ch=='e' or ch=='i' or ch=='o' or ch=='u'):
  print(ch,"is a vowel.")
else:
  print(ch,"is a consonant.")

enter any character :r
r is a consonant.

In [11]:
a=float(input("enter the first number :"))
b=float(input("enter the second number :"))
c=float(input("enter the third number :"))
if (a>b) and (a>c):
  print(a,"is largest number.")
elif (b>a) and (b>c):
  print(b,"is the largest number.")
else:
  print(c,"is the largest number.")

enter the first number :4
enter the second number :8
enter the third number :6
8.0 is the largest number.

In [12]:
yr=int(input("enter a year :"))
if ((yr%400==0) or ((yr%4==0) and (yr%100!=0))):
 print(yr,"is a leap year.")
else:
  print(yr,"is not a leap year.")

enter a year :1889
1889 is not a leap year.

In [13]:
x=int(input("enter any number:"))
if x>0:
  print(x,"is a positive number.")
else:
  print(x,"is a negative number.")

enter any number:4
4 is a positive number.

In [14]:
n=int(input("enter a any number :"))
if n<0:
  print("print a positive number.")
else:
  sum=0
  while (n>0):
    sum+=n
    n-=1
print("sum of natural numbers is",sum)

enter a any number :4
sum of natural numbers is 10

In [15]:
n=int(input("enter any number :"))
fact=1
for i in range(1,n+1):
  fact=fact*i
print("factorial of",n,"is",fact)

enter any number :4
factorial of 4 is 24

In [16]:

x=int(input("show the multiplication table of ?"))
for i in range(1,11):
  print(x,'x',i,'=',x*i)

show the multiplication table of ?4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [17]:
n=int(input("enter any number :"))
x,y =0,1
count=0
if n<=0:
  print("enter a positive number.")
elif n==1:
  print("fibonacci sequence upto",n,":")
  print(x)
else:
  print("fibonacci sequence :")
  while count<n:
    print(x)
    z=x+y
    x=y
    y=z
    count+=1

enter any number :4
fibonacci sequence :
0
1
1
2

In [18]:
def find_lcm(x, y):
   if x > y:
       greater = x
   else:
       greater = y
   while(True):
       if((greater % x == 0) and (greater % y == 0)):
           lcm = greater
           break
       greater += 1
   return lcm
a=int(input("enter the value of first number :"))
b=int(input("enter the value of second number :"))
print("the L.C.M. is", find_lcm(a,b))

enter the value of first number :4
enter the value of second number :6
the L.C.M. is 12

In [19]:

n=int(input("enter any number :"))
count=0
while (n>0):
    count=count+1
    n=n//10
print("the number of digits in the given number is/are :",count)

enter any number :4
the number of digits in the given number is/are : 1

In [20]:
x=int(input("enter any number to be reversed :"))
rev=0
while x>0:
  rev=(rev*10)+(x%10)
  x=x//10
print("reverse is",rev)

enter any number to be reversed :125
reverse is 521

In [21]:
n=int(input("enter any positive number :"))
e=int(input("enter the value of exponent :"))
p=1
for i in range(1,e+1):
  p=p*n
print("the power of",n,"^",e,"is",p)

enter any positive number :4
enter the value of exponent :5
the power of 4 ^ 5 is 1024

In [22]:
n=int(input("enter any number :"))
rev=0
temp=n
while (temp > 0):
    r=temp%10
    rev=(rev*10)+r
    temp=temp//10
print("reverse of this given number is",rev)
if (n==rev):
    print(n,"is a palindrome number")
else:
    print(n,"is not a palindrome number")

enter any number :4
reverse of this given number is 4
4 is a palindrome number