<a href="https://colab.research.google.com/github/ronyzzz910/python/blob/main/cycle2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
2
y = int(input("enter final leap year:"))
print ("future leap year from 2021")
for  x  in range(2021 , y+1):
   if ((x%4==0) and (x%100!=0 )):
     print(x)

enter final leap year:2031
future leap year from 2021
2024
2028

In [7]:
9
a = input("enter a string")
print("new string :")
print(a[-1:] + a[1:-1] + a[0])

enter a stringpython
new string :
nythop

In [8]:
10
PI = 3.14
radius = float(input(' Please Enter the radius of a circle: '))
area = PI * radius * radius
print(" Area Of a Circle = %f" %area)

 Please Enter the radius of a circle: 4
 Area Of a Circle = 50.240000

In [11]:
11
num1 = input("enter first number")
num2 = input("enter second number")
num3 = input("enter third number")
if(num1>num2) and (num1>num3):
  largest=num1
elif (num2>num1) and (num2>num3):
  largest=num2  
else: 
   largest = num3
   print("largest is" ,largest)

enter first number12
enter second number50
enter third number55
largest is 55

In [3]:
3a
mylist =[-5, 30, 50, -18, 13]
print("firstlist:" , mylist)
newlist =[x for x in mylist if x > 0]
print("newlist :",newlist)

firstlist: [-5, 30, 50, -18, 13]
newlist : [30, 50, 13]

In [13]:
14
a = int(input("enter an integer :"))
n1 =  int( "%s" % a )
n2 = int("%s%s" % (a,a) )
n3 = int("%s%s%s" % (a,a,a) )
print (n1+n2+n3)

enter an integer :6
738

In [16]:
18
thisdict1 = {'a' : 100,  'b': 200}
thisdict2 = {'x': 300, 'y': 400}
d = thisdict1.copy()
d.update(thisdict2)
print(d)

{'a': 100, 'b': 200, 'x': 300, 'y': 400}

In [17]:
20
list = [10, 13, 15, 16, 17]
print("orginal list:",list)
for i in list:
  if(i%2 == 0):
    list.remove(i)
print("list after removing even number:" , list)

orginal list: [10, 13, 15, 16, 17]
list after removing even number: [13, 15, 17]

In [4]:
3b
mylist=[2, 3, 5, 7, 9]
print("firstlist : ",  mylist)
newlist=[number ** 2 for number in mylist]
print("new list :" ,newlist)

firstlist :  [2, 3, 5, 7, 9]
new list : [4, 9, 25, 49, 81]

In [6]:
12
filename = input("enter the filename :")
f_extns = filename.split(".")
print ("the extension of the file : " + repr(f_extns[-1]))

enter the filename :rony.jpj
the extension of the file : 'jpj'