In [1]:
k1=input("enter first key : ")
k2=input("enter second key : ")
k3=input("enter third key : ")
k4=input("enter fourth key : ")
k5=input("enter fifth key : ")
v1=input("enter first value : ")
v2=input("enter second value : ")
v3=input("enter third value : ")
v4=input("enter fourth value : ")
v5=input("enter fifth value : ")
d={}
d[k1]=v1
d[k2]=v2
d[k3]=v3
d[k4]=v4
d[k5]=v5
l=list(d.items())   
l.sort() 
print("ascending order is : ",l)
l=list(d.items())
l.sort(reverse = True)
print("descending order is : ",l)4

enter first key : 1
enter second key : 2
enter third key : 3
enter fourth key :
enter fifth key :
enter first value : hai
enter second value : hello
enter third value : fine
enter fourth value : thanks
enter fifth value : bye
ascending order is :  [('', 'bye'), ('1', 'hai'), ('2', 'hello'), ('3', 'fine')]
descending order is :  [('3', 'fine'), ('2', 'hello'), ('1', 'hai'), ('', 'bye')]

In [2]:
x=input("enter the first string : ")
y=input("enter the second string : ")
def swapch(x,y): 
  a = y[:1] + x[1:]
  b = x[:1] + y[1:]
  return a + ' ' + b
print(swapch(x,y))

enter the first string : rony
enter the second string : kurian
kony rurian

In [3]:
c1=[]
x=int(input("enter limit for list1 :"))
for i in range(1,x+1):
  a=input()
  c1.append(a)
  p=set(c1)
print(p)
c2=[]
y=int(input("enter limit for list2 : "))
for i in range(1,y+1):
  b=input()
  c2.append(b)
  q=set(c2)
print(q)
print(p.difference(q))

enter limit for list1 :2
red
green
{'green', 'red'}
enter limit for list2 : 2
aple
orange
{'aple', 'orange'}
{'green', 'red'}

In [4]:
a=int(input("enter any integer : "))
n1=int("%s" %a)
n2=int("%s%s" %(a,a))
n3=int("%s%s%s" %(a,a,a))
print("value of n+nn+nnn is : ",n1+n2+n3)

enter any integer : 2
value of n+nn+nnn is :  246

In [5]:

c=[]
x=int(input("enter limit for list : "))
for i in range(1,x+1):
  a=input()
  c.append(a)
print(c)
print(c[0],c[-1])

enter limit for list : 2
hai
hello
['hai', 'hello']
hai hello

In [6]:
str=input("enter any string : ")
def rep_ch(str1):
  char=str1[0]
  str1=str1.replace(char, '$')
  str1=char+str1[1:]
  return str1
print(rep_ch(str))

enter any string : rony
rony

In [11]:
x=[]
a=int(input("enter limit for list1 : "))
for i in range(1,a+1):
  a=int(input())
  x.append(a)
print(x)
y=[]
b=int(input("enter limit for list2 : "))
for i in range(1,b+1):
  b=int(input())
  y.append(b)
print(y)
if (len(x)==len(y)):
  print("list1 and list2 are of same length i.e.",len(x))
else:
  print("list1 and list2 are of different length.")
if (sum(x)==sum(y)):
  print("list1 and list2 sums to the same value i.e.",sum(x))
else:
  print("list1 and list2 sums up to different values.")
def common(x, y): 
    p=set(x) 
    q=set(y) 
    if len(p.intersection(q)) > 0: 
        return(p.intersection(q))   
    else: 
        return("no common elements")  
print("value that occur in both lists is/are :",common(x,y))

enter limit for list1 : 3
9
6
3
[9, 6, 3]
enter limit for list2 : 3
9
7
2
[9, 7, 2]
list1 and list2 are of same length i.e. 3
list1 and list2 sums to the same value i.e. 18
value that occur in both lists is/are : {9}

In [12]:
l=[]
x=int(input("enter the limit : "))
for i in range (1,x+1):
  x=input("enter the first name : ")
  l.append(x)
  count = x.count('a')
  print("number of time a is present in name:",count)

enter the limit : 2
enter the first name : alen
number of time a is present in name: 1
enter the first name : sam
number of time a is present in name: 1

In [13]:

n=input("enter your house number : ")
hname=input("enter your house name : ")
s=input("enter your street name : ")
t=input("enter your town/city : ")
d=input("enter your district : ")
state=input("enter your state : ")
county=input("enter your county : ")
pin=int(input("enter your postcode: "))
print("\nAddress Details :\n" + "\nHousenumber :",n,"\nHouse :",hname,"\nStreet : ",s,"\nTown/City : ",t,"District : ",d,"\nState : ",state,"\nCounty : ",county,"\nPostcode : ",pin)

enter your house number : 3
enter your house name : lakshanam
enter your street name : kallara
enter your town/city : kottayam
enter your district : kottayam
enter your state : kerala
enter your county : india
enter your postcode: 686611

Address Details :

Housenumber : 3
House : lakshanam
Street :  kallara
Town/City :  kottayam District :  kottayam
State :  kerala
County :  india
Postcode :  686611